.doc-title {
  text-align: center;
}
.doctor-card {
  border: 1px solid #d1d9d9;
  padding: 10px;
  margin-bottom: 10px;
}

.doctor-content {
  display: flex;
  justify-content: space-between;
  .btn-custom {
    font-weight: bold;
    color: #fff;
  }
  .btn-edit {
    background-color: #4aa96c;
  }
  .btn-delete {
    background-color: #f55c47;
  }
}

// .input-new {
//   margin-right: auto;
//   display: block;
// }

.doctor-info {
  li {
    list-style-type: none;
  }
}
