.doc-title {
  text-align: center;
}
.doctor-card {
  border: 1px solid #d1d9d9;
  padding: 10px;
  margin-bottom: 10px;
}

.doctor-content {
  display: flex;
  justify-content: space-between;
  .btn-edit {
    background-color: #4aa96c;
  }
  .btn-delete {
    background-color: #f55c47;
  }
}
.btn-custom {
  font-weight: bold;
  color: #fff;
}

.btn-doctors {

}

.doctor-info {
  li {
    list-style-type: none;
  }
}

.btn-update {
  width: 25%;
  background-color: #4aa96c;
  margin-left: 75%;
}

.form-size {
  width: 50%;
  margin: 0 auto;
}

@media (max-width: 800px){
  .btn-update {
    width: 100%;
    margin-left: 0;
  }
}
